.fixed-table-body {
    height: auto !important;
}

.bootstrap-datetimepicker-widget .glyphicon{
    color: #CC213F;
}

.bootstrap-datetimepicker-widget .glyphicon:hover{
    background-color: transparent;
}

.pie-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.icon-img {
    max-height: 200px;
}